:root {
    --blue-color: #0f748fb3;
    --active-color: #19c8fa;
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
    --pink-color: #ff8f9c;
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #ffffff;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
    --skin-color: #ec1839;
    --intro-color: #747474a3;
    --footer-color: #212121;
}
body.dark {
    --bg-black-900: #191919;
    --bg-black-100: #212123;
    --bg-black-50: #28282a;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9;
    --intro-color: #d5d5d5a3;
    --footer-color: #151515;
    --active-color: #c9a86b;
}


body::-webkit-scrollbar { width: 15px; }

body::-webkit-scrollbar-track {
    background: #FFF;
    border-left: 1px solid red;
}

body::-webkit-scrollbar-thumb {
    background: var(--active-color);
    border: 3px solid #FFF;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }


.container { padding: 0 15px; }

.has-scrollbar { padding-bottom: 5px; }

.has-scrollbar::-webkit-scrollbar {
    width: 6px; /* for vertical scroll */
    height: 8px; /* for horizontal scroll */
}

.has-scrollbar::-webkit-scrollbar-thumb {
    background: var(--active-color);
    border-radius: 20px;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--bg-black-900);
    color: var(--text-black-700);
    overflow: hidden;
}
ul{
    margin: 0;
}
.dash-header{
    background: var(--bg-black-50);
    box-shadow: 1px 1px 1px rgba(0,0,0,.2);
    align-items: center;
    padding: 10px 40px;
    z-index: 1000;
}
.dash-header .logo{
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-black-900);
}

.dash-view{
    display: flex;
    height: calc(100vh - 59px);
}
.dash-view aside{
    background-color: var(--bg-black-50);
    color: white;
    display: flex;
    flex-direction: column;
    width: calc(2rem + 32px);
    overflow: hidden;
    min-height: calc(100vh - 60px);
    padding: 1rem;
    transition: 0.2s ease-out;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}
.dash-view aside.expanded{
    width: 220px;
}
aside.expanded aside .menu-toggler-wrap{
    top: -3rem;

}
aside.expanded .menu-toggler:hover .fa-solid{
    transform: translateX(-0.5rem);
}
aside.expanded .button .text {
    opacity: 1;
}
@media (max-width: 768px) {
    aside{
        position: fixed;
        z-index: 99;
    }
}
aside .flex {
    flex: 1 1 0;
}
aside .logo{
    margin-bottom: 1rem;

}
aside .logo img{
    width: 2rem;

}


.menu-toggler-wrap {
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    position: relative;
    top: 0;
    transition: 0.2s ease-out;
}
.menu-toggler {
    font-size: 2rem;
    color: white;
    background: transparent;
    border: none;
    color:var(--text-black-900);
    background: var(--bg-black-100);
    padding: 2px 3px;
    border-radius: 50px;

}
.menu-toggler .fa-solid {
    transition: all 0.2s ease-out;
}

.menu-toggler:hover .menu-toggler .fa-solid {
    color: var(--active-color);
    transform: translateX(0.5rem);
}
h3,
.button .text {
    opacity: 0;
    transition: 0.3s ease-out;
}
h3 {
    color: var(--text-black-900);
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}
.menu {
    margin: 0 -1rem;
}
.menu .button {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: 0.2s ease-out;}

.menu .button:not(:last-of-type) {
     margin-bottom: 0.2rem;
 }

.button svg {
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    display: grid;
    padding: 5px;
    place-content: center;
    color: #FFF;
    margin-right: 1rem;
    transition: 0.2s ease-out;
    border-radius: 5px;}

svg.fa-shirt {
     background: var(--active-color);
 }
svg.back {
     background: red;}

svg.fa-users {
    background: var(--green-color);
}

svg.fa-user {
     background: #70c4bf;
 }
svg.fa-cubes-stacked {
     background: #ae68e6;
 }
svg.fa-cart-shopping {
     background: #cfb452;
 }

.menu .button .text {
    color: var(--text-black-900);
    transition: 0.2s ease-out;
}
.button{
    cursor: pointer;
}
.button.active{
    border-left:4px solid var(--active-color);
    background: var(--bg-black-900);
    padding-left: 12px;
}
.menu .button:hover{
     background-color: var(--active-color);
 }
.menu .button.router-link-exact-active {
     border-right: 5px solid var(--active-color);
 }

.cursor-pointer {
    cursor: pointer;
}
.cursor-pointer svg{
    color: var(--text-black-900);
}



a{
    text-decoration: none;
}

.dash-view .main{
    flex: 1;
    overflow-y: auto;
}

.day-night {
    position: fixed;
    top: 80px;
    right: 10px;
    background: var(--bg-black-50);
    color: var(--text-black-900);
    border-radius: 50px;
    padding: 10px 15px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .main{
        padding-left: 4rem;
    }
}

/*
    -------------
    ADD PRODUCT PAGE
    -------------
*/
.main h2{
    margin-bottom: 40px;
}
.main form , .products-panel{
    background: var(--bg-black-100);
    padding: 40px;
    border-radius: 20px;
}
.main label{
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
}
.main input,.main select{
    width: 100%;
    margin: 10px 0;
    padding: 10px 15px;
    transition: all 0.3s ease;
    border: 1px solid var(--active-color);
    background: transparent;
    color: var(--text-black-900);
    border-radius: 10px;
}
.main input:focus{
    outline: none;
    transform: scale(1.05);
}

.main form button{
    margin-top: 20px;
}



table{
    width: 100%;
    text-align: center;
}

table thead{
    background: var(--active-color);
    color: var(--text-black-900);
    height: 40px;
}
table td{
    padding: 5px;
}

table img{
    width: 80px;
    height: 60px;
}

table tbody tr:nth-child(even){
    background: rgba(0, 0, 0, 0.06);
}

/*

    -----> Dashboard Main Home

*/

.stat-box{
    background: var(--bg-black-50);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
.stat-box svg{
    font-size: 3rem;
    padding: 10px 5px;
    width: 70px;
    border-radius: 10px;
}
.stat-box .icon p{
    font-size: 1.3rem;
    margin: 5px 0;
    color: var(--text-black-900);
}
.stat-box .stats{
    font-size: 1.2rem;
    font-weight: bold;
}
