form{
    margin: 80px 0 !important;
    background: var(--bg-black-50);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}
 label{
    color: var(--text-black-900);
    display: block;
    font-size: 2rem;
    margin: 10px 0;
     font-weight: bold;
     text-transform: capitalize;
}
input{
    width: 100%;
    margin-bottom:40px ;
    height: 60px;
    padding: 10px 20px;
    border: none;
    border-bottom: 4px solid var(--active-color);
    background: transparent;
    font-size: 1.4rem;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}
 input:focus{
    outline: none;
    transform: scale(1.05);
}
select{
    width: 100%;
    margin-bottom:40px ;
    height: 60px;
    padding: 10px 20px;
    border: none;
    border-bottom: 4px solid var(--active-color);
    background: transparent;
    font-size: 1.4rem;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}

.form-title{
    color: var(--active-color);
    font-size: 2.9rem;
}
